/* .june {
    background-image: url(images/asian-cuisine.png);
    width: 45%;
    height: 55%;
} */

/* .event-cover {
    width: 45%;

} */

.june {
    background-image: url(images/asian-cuisine.png);
    width: 560px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:hard-light;
    background-color: #ec5242;
}